@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.container{
    display: flex;
    height: 300px;
    width: 300px;
    background-color: darkslateblue;
    align-items: center;
    justify-content: center;
}

.text{
    font-size: 160px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
